<p>employees works!</p>

<div class="row">
  <div class="col">
    <button type="button" (click)="openModal()" class="btn btn-primary" style="float: right;" data-bs-toggle="modal" data-bs-target="#exampleModal">Cretae New</button>
  </div>
</div>

<div class="container">
  <table id="table" datatable [dtOptions]="dtoptions" [dtTrigger]="dttrigger">
    <thead>
      <tr>
        
        <th>id</th>
        <th>name</th>
        <th>last_name</th>
        <th>email</th>
        <th>position</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td >{{ employee.id }}</td>
        <td >{{ employee.name }}</td>
        <td >{{ employee.last_name }}</td>
        <td >{{ employee.email }}</td>
        <td >{{ employee.position }}</td>
        <td>
          <button class="btn btn-primary btn-sm" type="button" (click)="getEmployeeById( employee )" data-bs-toggle="modal" data-bs-target="#exampleModal">Modify</button>
          <button class="btn btn-danger btn-sm" type="button" (click)="deleteEmployee( employee )">Delete</button>
        </td>

      </tr>
    </tbody>
  </table>
</div>
